[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "vtpl"
url = "http://pypi.videonetics.com:8080"
verify_ssl = false

[dev-packages]
yapf = "*"
bump2version = "*"
mypy = "*"
pylama = "*"
pylint = "*"
pycodestyle = "*"
pipenv-setup = "*"
pytest = "*"
pyinstaller = "*"
rope = "*"

[packages]
PyYaml = "*"

[requires]
python_version = "3.6"
