python setup.py develop --uninstall
rm -rf dist build
bump2version patch
pipenv-setup sync
python setup.py sdist bdist_wheel
#python -m PyInstaller --name $pname $pname/cli.py
python -m PyInstaller --onefile --name $pname $pname/cli.py
# svn copy http://svn.example.com/repos/calc/trunk \
#            http://svn.example.com/repos/calc/tags/release-1.0 \
#            -m "Tagging the 1.0 release of the 'calc' project."

pip3 install -e .
