python setup.py develop --uninstall
rm -rf dist build *.egg-info
bump2version patch --allow-dirty
pipenv-setup sync
#python setup.py bdist_wheel upload -r vtpl
python setup.py bdist_wheel
python -m PyInstaller --onefile --name $pname $pname/cli.py
python -m pip install -e .
# pip3 install --trusted-host pypi.videonetics.com -i http://pypi.videonetics.com:8080/simple/ $pname
# pip3 install --trusted-host pypi.videonetics.com -U -i http://pypi.videonetics.com:8080/simple/ $pname
